* {
    font-family: 'Times New Roman', Times, serif;
}

header {
    width: 100%;
    background-color: rgba(2, 92, 14, 0.836);
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    background-image: url(../images/abstract-green-background_ts1120.jpg);

}

h2 {
    color: silver;
}

#landing-title {
    text-align: right;
    margin-right: 10px;
    color:black;
}

ul {
    position: relative;
    left: 0;
    text-align: justify;
    color: goldenrod;
}

li {
    display: inline;
    font-size: 30px;
    list-style-type: none;
    margin-right: 15px;
}

p {
    color:silver;
    font-size: 20px;
    margin-right: 50%;
}

body {
    padding-top: 100px;
    background-image: url(../images/abstract-green-background_ts1120.jpg);
    background-color: green;
    
}

.silver-text {
    color: silver;
}

#Gold-badge {
    height: 350px;
    width: 400px;
    padding-left: 20px;
}

label {
    color: silver;
}

footer {
    text-align: right;
    margin-right: 10px;
}

a {
    color: goldenrod
}